<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.my.newproject">
	<uses-permission	android:name="android.permission.INTERNET"/>
	<uses-permission	android:name="android.permission.ACCESS_NETWORK_STATE"/>
	<application
		android:allowBackup="true"
		android:label="Smooth App"
		android:icon="@drawable/app_icon"
		android:largeHeap="true"
		android:theme="@style/AppTheme">
		<activity
			android:name=".MainActivity"
			android:configChanges="orientation|screenSize"
			android:screenOrientation="portrait"
			android:windowSoftInputMode="stateHidden">
			<intent-filter>
				<action	android:name="android.intent.action.MAIN"/>
				<category	android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity>
		<activity
			android:name=".TopicsActivity"
			android:configChanges="orientation|screenSize"
			android:screenOrientation="portrait"
			android:windowSoftInputMode="stateHidden"/>
		<activity
			android:name=".ImportantBasicsActivity"
			android:configChanges="orientation|screenSize"
			android:screenOrientation="portrait"
			android:windowSoftInputMode="stateHidden"/>
		<activity
			android:name=".TestimoniesActivity"
			android:configChanges="orientation|screenSize"
			android:screenOrientation="portrait"
			android:windowSoftInputMode="stateHidden"/>
		<activity
			android:name=".UpgradeActivity"
			android:configChanges="orientation|screenSize"
			android:screenOrientation="portrait"
			android:windowSoftInputMode="stateHidden"/>
		<activity
			android:name=".LoadingActivity"
			android:configChanges="orientation|screenSize"
			android:screenOrientation="portrait"
			android:windowSoftInputMode="stateHidden"/>
		<activity
			android:name=".VipActivity"
			android:configChanges="orientation|screenSize"
			android:screenOrientation="portrait"
			android:windowSoftInputMode="stateHidden"/>
		<activity
			android:name=".ScalesActivity"
			android:configChanges="orientation|screenSize"
			android:screenOrientation="portrait"
			android:windowSoftInputMode="stateHidden"/>
		<activity
			android:name=".LinearActivity"
			android:configChanges="orientation|screenSize"
			android:screenOrientation="portrait"
			android:windowSoftInputMode="stateHidden"/>
		<activity
			android:name=".DiagonalActivity"
			android:configChanges="orientation|screenSize"
			android:screenOrientation="portrait"
			android:windowSoftInputMode="stateHidden"/>
		<activity
			android:name=".CrankActivity"
			android:configChanges="orientation|screenSize"
			android:screenOrientation="portrait"
			android:windowSoftInputMode="stateHidden"/>
		<activity
			android:name=".TangencyActivity"
			android:configChanges="orientation|screenSize"
			android:screenOrientation="portrait"
			android:windowSoftInputMode="stateHidden"/>
		<activity
			android:name=".LociActivity"
			android:configChanges="orientation|screenSize"
			android:screenOrientation="portrait"
			android:windowSoftInputMode="stateHidden"/>
		<activity
			android:name=".AssignmentsActivity"
			android:configChanges="orientation|screenSize"
			android:screenOrientation="portrait"
			android:windowSoftInputMode="stateHidden"/>
		<activity
			android:name=".PastqsActivity"
			android:configChanges="orientation|screenSize"
			android:screenOrientation="portrait"
			android:windowSoftInputMode="stateHidden"/>
		<activity
			android:name=".LecturersActivity"
			android:configChanges="orientation|screenSize"
			android:screenOrientation="portrait"
			android:windowSoftInputMode="stateHidden"/>
		<activity
			android:name=".VernierActivity"
			android:configChanges="orientation|screenSize"
			android:screenOrientation="portrait"
			android:windowSoftInputMode="stateHidden"/>
		<activity
			android:name=".ComparativeActivity"
			android:configChanges="orientation|screenSize"
			android:screenOrientation="portrait"
			android:windowSoftInputMode="stateHidden"/>
		<activity
			android:name=".ScaleOfChordsActivity"
			android:configChanges="orientation|screenSize"
			android:screenOrientation="portrait"
			android:windowSoftInputMode="stateHidden"/>
		<activity
			android:name=".GeometricActivity"
			android:configChanges="orientation|screenSize"
			android:screenOrientation="portrait"
			android:windowSoftInputMode="stateHidden"/>
		<activity
			android:name=".EccentricityActivity"
			android:configChanges="orientation|screenSize"
			android:screenOrientation="portrait"
			android:windowSoftInputMode="stateHidden"/>
		<activity
			android:name=".CircRectActivity"
			android:configChanges="orientation|screenSize"
			android:screenOrientation="portrait"
			android:windowSoftInputMode="stateHidden"/>
		<activity
			android:name=".PeculiarMethActivity"
			android:configChanges="orientation|screenSize"
			android:screenOrientation="portrait"
			android:windowSoftInputMode="stateHidden"/>
		<activity
			android:name=".TriNCircActivity"
			android:configChanges="orientation|screenSize"
			android:screenOrientation="portrait"
			android:windowSoftInputMode="stateHidden"/>
		<activity
			android:name=".PolygonsActivity"
			android:configChanges="orientation|screenSize"
			android:screenOrientation="portrait"
			android:windowSoftInputMode="stateHidden"/>
		<activity
			android:name=".TangActivity"
			android:configChanges="orientation|screenSize"
			android:screenOrientation="portrait"/>
		<activity
			android:name=".ArcblendActivity"
			android:configChanges="orientation|screenSize"
			android:screenOrientation="portrait"/>
		<activity
			android:name=".BasicsActivity"
			android:configChanges="orientation|screenSize"
			android:screenOrientation="portrait"/>
		<activity
			android:name=".DrawingActivity"
			android:configChanges="orientation|screenSize"
			android:screenOrientation="portrait"/>
		<activity
			android:name=".Past17Activity"
			android:configChanges="orientation|screenSize"
			android:screenOrientation="landscape"/>
		<activity
			android:name=".Past15Activity"
			android:configChanges="orientation|screenSize"
			android:screenOrientation="landscape"/>
		<activity
			android:name=".Past13Activity"
			android:configChanges="orientation|screenSize"
			android:screenOrientation="landscape"/>
		<activity
			android:name=".Past11Activity"
			android:configChanges="orientation|screenSize"
			android:screenOrientation="landscape"/>
		<activity
			android:name=".Past09Activity"
			android:configChanges="orientation|screenSize"
			android:screenOrientation="landscape"/>
		<activity
			android:name=".AssignScalesActivity"
			android:configChanges="orientation|screenSize"
			android:screenOrientation="portrait"/>
		<activity
			android:name=".AssignCrankActivity"
			android:configChanges="orientation|screenSize"
			android:screenOrientation="portrait"/>
		<activity
			android:name=".UnlockActivity"
			android:configChanges="orientation|screenSize"
			android:screenOrientation="portrait"/>
		<activity
			android:name=".ChangekeyActivity"
			android:configChanges="orientation|screenSize"
			android:screenOrientation="portrait"/>
		<meta-data
			android:name="com.google.android.gms.version"
			android:value="@integer/google_play_services_version"/>
		<provider
			android:name="com.google.firebase.provider.FirebaseInitProvider"
			android:authorities="com.my.newproject.firebaseinitprovider"
			android:exported="false"
			android:initOrder="100"/>
	</application>
</manifest>
